.home {
  width: 95%;
  margin: 3rem auto;
}

.gridcol {
  padding-top: .5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.smartphones{
  font-size: 3rem;
  font-weight: bolder;
  color: black;
  padding-top: 2rem;
}
.image{
  width: 100%;
  height: 70vh;
}
.sliderimg1{
  margin-top: 8rem;
}
